<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUMI</title>
</head>
<body>
    
    <router-outlet></router-outlet>

    <!-- <div class="authAside">
        <div class="backDrops whiteDrops"></div>
        <div class="innerAside">
            <div class="leftAside">
                
            </div>
            <div class="rightAside">
                <div class="rightBottom_abstract"><img src="assets/images/login_abstract.png" /></div>
                <a href="javascript:void(0)" class="closeIcon"><span></span><span></span></a>
                <h2 class="asideTitle">Sign Up</h2>
                <p>Create your BUMI Customer Account in just a few clicks! You can register either using your email address or through your Facebook account.</p>

                <div class="btnDiv">
                    <a href="javascript:void(0)" class="viaEmail">CREATE AN ACCOUNT VIA EMAIL</a>
                    <a href="javascript:void(0)" class="viaFb">SIGN UP WITH FACEBOOK</a>
                </div>

                <div class="alreadyHave">
                    Already have an account?
                    <a href="javascript:void(0)">Login</a>
                </div>
            </div>
        </div>
    </div>

    <div class="authAside loginAside">
        <div class="backDrops whiteDrops"></div>
        <div class="innerAside">
            <div class="leftAside">
                
            </div>
            <div class="rightAside">
                <div class="rightBottom_abstract"><img src="assets/images/login_abstract.png" /></div>
                <a href="javascript:void(0)" class="closeIcon"><span></span><span></span></a>
                <h2 class="asideTitle">Login</h2>
                
                <form class="w-100">
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" placeholder="E-mail" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="password" class="form-control" placeholder="Password" />
                        </label>
                    </div>
                    <div class="form-group forgot_remember">
                        <div class="rememberDiv">
                            <label class="rememberCheck">
                                <input type="checkbox" />
                                <span class="check"></span>
                                <span>Remember me</span>
                            </label>
                        </div>
                        <div class="forgotDiv">
                            <a href="forgotLink">Forgot your password?</a>
                        </div>
                    </div>
                </form>

                <div class="btnDiv">
                    <a href="javascript:void(0)" class="viaEmail">Login</a>
                    <a href="javascript:void(0)" class="viaFb">LOGIN WITH FACEBOOK</a>
                </div>

                <div class="alreadyHave">
                    Don't have an account? 
                    <a href="javascript:void(0)">Sign Up</a>
                </div>
            </div>
        </div>
    </div> -->

</body>
</html>
